<div class="container" style="padding-top: 10px;">
    <div class="row justify-content-md-center">
        <img class="mediana" src='./assets/leon.jpg'>
    </div>
</div>
<br>
<table class="table table-dark table-hover">
    <thead>
        <th>Atributo</th>
        <th>Valor</th>                  
    </thead>
    <tbody>
        <tr>
            <td>Nombre</td>
            <td>leon</td>
        </tr>
        <tr>
            <td>Peso</td>
            <td>90 kg</td>
        </tr>
        <tr>
            <td>Longitud</td>
            <td>1.91 m</td>
        </tr>
        <tr>
            <td>Años máximos</td>
            <td>23 años</td>
        </tr>
        <tr>
            <td>Continentes</td>
            <td>África, Asia</td>
        </tr>
        <tr>
            <td>Velocidad</td>
            <td>16.67 m/s</td>
        </tr>
        <tr>
            <td>Población en libertad</td>
            <td>4000 ejemplares</td>
        </tr>
    </tbody>
</table>





